
@import 'vars.scss';
@import 'normalize.scss';
@import 'base.scss';

.page-wrap {
  margin: 1.5em auto 0;
  max-width: $max-width;
  background: #fff;
  background: rgba(#fff, 1);
  border-radius: $base-font-size/3;
}

.page-header {
  @include padding(.75em, 3.5em, 1.5em);
  position: relative;
  border-bottom: 1px dashed $orange;
}

.page-footer {
  @include padding(1em, 3.5em, 1.25em);
  border-top: 1px dashed $orange;
}

.view {
  @include padding(1.75em, 3.5em);
  @include transition(.6s);
}

.form-list {
  margin: 0 0 .5em;
  padding: 0;
  list-style: none;

  li {
    margin: 1.5em 0 0;
  }

  li:first-child {
    margin-top: 0;
  }
}

.bid-ask {
  margin-right: .5em;
}

.bid-check {
  display: inline-block;
  margin-bottom: .5em;
}

.scoreboard-container {
  overflow-x: hidden;
}

.winning {
  font-size: 110%;
  background: $offwhite;
}

.hide {
  padding: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.no-js .no-js {
  display: block;
}

.js .no-js {
  display: none;
}

@import 'jquery-ui.scss';

.new-game {
  @include mq(540px) {
    margin: 0;
    position: absolute;
    top: 4em;
    right: 7.3%;
  }
}